
// ---------- CITY RESULTS ------------

.bar {
	width: 100%;
	background-color: darkseagreen;
}

.wifi {
	background-color: goldenrod;
}

.friendly {
	background-color: plum;
}

.safety {
	background-color: papayawhip;
}

.city {
	display: flex;
	-webkit-display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.cityOverlay {
	background-repat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 300px;
}

.cityInfo {
	width: 45%;
}