@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800italic);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'lovelo';
  src: url("../fonts/lovelo_black-webfont.woff2") format("woff2"), url("../fonts/lovelo_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lovelo-line';
  src: url("../fonts/lovelo_line_bold-webfont.woff2") format("woff2"), url("../fonts/lovelo_line_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #2C3E50;
  font-size: 16px;
  position: relative; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

header {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center; }
  @media all and (max-width: 700px) {
    header {
      justify-content: space-around;
      padding-top: 25px; } }

.site-title {
  font-family: "lovelo", sans-serif;
  color: #03A678;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 25px 25px;
  margin: 0;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-content: center;
  -webkit-align-content: center; }
  @media all and (max-width: 400px) {
    .site-title {
      font-size: 1.7rem; } }

header img {
  height: 40px;
  padding: 0 12px 0 5px; }

.call-to-action {
  padding: 25px 25px; }
  @media all and (max-width: 700px) {
    .call-to-action {
      display: none; } }

.cta-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: 1px;
  padding-bottom: 8px; }

.cta-2 {
  font-family: "lovelo", sans-serif;
  color: #03A678;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0;
  display: block;
  text-align: right;
  transition: color .5s; }
  .cta-2:hover {
    color: #FFFFFF; }

form {
  max-width: 640px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  padding: 50px;
  color: #FFFFFF;
  line-height: 175%;
  letter-spacing: 1px;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column; }
  @media all and (max-width: 700px) {
    form {
      font-size: 2.2rem; } }
  @media all and (max-width: 550px) {
    form {
      font-size: 2rem; } }
  @media all and (max-width: 400px) {
    form {
      font-size: 1.7rem; } }

select {
  font-family: "Open Sans", sans-serif;
  color: #EF4836;
  background: transparent;
  border: none;
  border-bottom: 2px dotted #EF4836;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  overflow: hidden; }

option {
  padding: 10px;
  background-color: #2C3E50; }

.submit-form {
  width: 100%; }

.submit {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  margin: 20px 0;
  text-align: right;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #03A678;
  color: #FFFFFF;
  transition: background-color .5s; }
  .submit:hover {
    background-color: #EF4836; }
  @media all and (max-width: 400px) {
    .submit {
      font-size: .8rem; } }

.form.container {
  height: calc(100vh - 103px);
  display: flex;
  justify-content: center;
  align-items: center; }

#result-container {
  display: none; }

.result.wrapper {
  background-color: #FFFFFF;
  padding: 50px; }
  @media all and (max-width: 550px) {
    .result.wrapper {
      padding: 25px; } }

h2 {
  font-family: "lovelo", sans-serif;
  color: #2C3E50;
  text-align: center;
  font-size: 2.5rem; }
  @media all and (max-width: 400px) {
    h2 {
      font-size: 2rem;
      margin: 15px 0; } }

.see_more {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #03A678;
  color: #FFFFFF;
  transition: background-color .5s; }
  .see_more:hover {
    background-color: #EF4836; }
  @media all and (max-width: 550px) {
    .see_more {
      font-size: 1rem; } }
  @media all and (max-width: 400px) {
    .see_more {
      font-size: .8rem; } }

.city {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 20px 0; }
  @media all and (max-width: 550px) {
    .city {
      flex-direction: column; } }

.cityOverlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 5px;
  width: 50%;
  height: 300px;
  position: relative;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; }
  @media all and (max-width: 550px) {
    .cityOverlay {
      width: 100%; } }

.city-name {
  z-index: 100; }

.cityOverlay .dimmer {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.cityOverlay h3, .cityOverlay h4 {
  font-family: "lovelo", sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto; }

.cityOverlay h3 {
  font-size: 2rem; }

.cityOverlay h4 {
  font-size: 1.3rem; }

.cityOverlay p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
  padding-top: 10px; }

.cityOverlay .city-cost {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px; }

.cityOverlay .city-temp {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px; }

.cityInfo {
  width: 45%;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media all and (max-width: 550px) {
    .cityInfo {
      width: 100%; } }

.cityInfo p {
  margin: 0; }

.cityInfo .info-container {
  cursor: pointer; }
  @media all and (max-width: 550px) {
    .cityInfo .info-container {
      width: 100%;
      padding-top: 10px; } }

.info-container:hover .hover-text {
  opacity: 1; }

.cityInfo .info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: uppercase; }
  @media all and (max-width: 700px) {
    .cityInfo .info-text {
      font-size: 1rem; } }

.cityInfo .info {
  padding: 10px; }

.bar {
  color: #FFFFFF;
  width: 100%;
  background-color: #E3DAC9;
  border-radius: 5px; }

.wifi {
  background-color: #03A678;
  padding: 5px;
  border-radius: 5px; }

.wifi-text {
  color: #03A678; }

.friendly {
  background-color: #EF4836;
  padding: 5px;
  border-radius: 5px; }

.friendly-text {
  color: #EF4836; }

.safety {
  background-color: #03A678;
  padding: 5px;
  border-radius: 5px; }

.safety-text {
  color: #03A678; }

.info-month {
  color: #2C3E50; }
  @media all and (max-width: 550px) {
    .info-month {
      width: 100%;
      padding-top: 10px; } }

.hover-text {
  opacity: 0;
  transition: opacity .5s;
  padding-left: 5px; }

.hidden {
  display: none; }

.loading-screen {
  background: #2C3E50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none; }

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.loading-container svg {
  height: 400px; }

footer {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #FFFFFF; }
  @media all and (max-width: 700px) {
    footer {
      flex-direction: column; } }
  @media all and (max-width: 550px) {
    footer {
      font-size: 0.9rem; } }
  @media all and (max-width: 400px) {
    footer {
      font-size: 0.6rem; } }

@media all and (max-width: 700px) {
  footer p {
    margin: 0; } }

footer a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color .5s; }
  footer a:hover {
    color: #EF4836; }
